* {
  font-family: 'Oswald', sans-serif;
}
.about {
  margin-left: 100px;
}
#img1 {
  max-width: 450px;
  max-height: 280px;
  float: inherit;
}

p {
  display: inline-block;
  text-align: justify;
}
