<div class="panel panel-default" id="main-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Interested in hosting an Event at Dig A Pony?</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>
      <br>
      <div>
        <label>Contact Email:</label>
        <br>
        <input #newContact>
      </div>
        <br>
      <div>
        <label>Event Description(i.e. date, size of party):</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <br>
      <button (click)="submitForm(newName.value, newContact.value, newDescription.value); newTitle.value=''; newArtist.value=''; newDescription.value=''">Submit</button>
    </div>
  </div>
</div>

<!-- <div>
  <router-outlet></router-outlet>
</div> -->
