.contact-container {
  margin-left: 180px;
  margin-top: 100px;
}

* {
  font-family: 'Oswald', sans-serif;
}

.contact-info {
  margin-left: -110px;
}

li {
  font-size: 1.5em;
}
 span {
   color: #898989;
 }
