<div id="menu-col">
  <ul id="menu-nav">
    <li a rel="/menu/cocktails">Cocktails</li>
    <li a rel="/menu/food">Food</li>
    <li a rel="/menu/beer">Bottle Beer</li>
    <li a rel="/menu/wine">Wine</li>
    <li a rel="/menu/happy">Happy Hour</li>
  </ul>

  <div class="site-body">
    <div class= "scroll-pane">
      <div *ngFor="let item of items">
        <ul><span class="drinkName">{{item.name}}</span>       <p>{{item.description}}, {{item.price}}</p>
        </ul>
      </div>
    </div>
  </div>
</div>
