<div id="menu-col">
  <ul id="menu-nav">
    <li><a rel="/menu/cocktails">Cocktails</a></li>
    <li><a rel="menu/food">Food</a></li>
    <li><a rel="/menu/beer">Bottle Beer</a></li>
    <li><a rel="/menu/wine">Wine</a></li>
    <li><a rel="/menu/happy">Happy Hour</a></li>
  </ul>

  <div class="site-body">
    <div class= "scroll-pane">
      <div *ngFor="let item of items">
        <ul><span class="drinkName">{{item.name}}</span>       <p>{{item.description}}, {{item.price}}</p>
        </ul>
      </div>
    </div>
  </div>
</div>
