@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/*font-family: 'Lusitana', serif;
font-family: 'Oswald', sans-serif;*/

#nbar {
  font-family: 'Lusitana', serif;
  font-weight: 700;
  font-size: 24px;
  color: black;
  display: block;
  width: 80px;
  padding: 0;
  height: 100%;
  position: fixed;
  /*overflow: auto;*/
}

#nbar :hover {
  color: #b62e2e;
}

#menu-col {
  overflow: auto;
  max-height: 100vh;
}

li {
  display: inline-block;
  padding: 10px;
}

h1, h3, p {
  font-family: 'Oswald', sans-serif;
}

p {
  color: #898989;
}
